# CLEANING NASHVILLE HOUSING DATASET

IMPORTING LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

UPLOADING THE DATASET

In [ ]:
data=pd.read_excel(r"C:\Users\USER\Desktop\victor\Nashville Housing Data for Data Cleaning.xlsx")

In [35]:
data.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

DATA CEANING

In [30]:
# Finding missing values
data.isnull().any()

UniqueID           False
ParcelID           False
LandUse            False
PropertyAddress     True
SaleDate           False
SalePrice          False
LegalReference     False
SoldAsVacant       False
OwnerName           True
OwnerAddress        True
Acreage             True
TaxDistrict         True
LandValue           True
BuildingValue       True
TotalValue          True
YearBuilt           True
Bedrooms            True
FullBath            True
HalfBath            True
dtype: bool

In [31]:
data1=data.dropna()
data1.isnull().any()

UniqueID           False
ParcelID           False
LandUse            False
PropertyAddress    False
SaleDate           False
SalePrice          False
LegalReference     False
SoldAsVacant       False
OwnerName          False
OwnerAddress       False
Acreage            False
TaxDistrict        False
LandValue          False
BuildingValue      False
TotalValue         False
YearBuilt          False
Bedrooms           False
FullBath           False
HalfBath           False
dtype: bool

In [39]:
# Removing Duplicate
data.duplicated().any()
# no duplicates but we deal with duplicates like this
data2=data1.drop_duplicates()
data2.duplicated().any()

False

In [40]:
data2

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.30,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.50,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.90,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.60,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.00,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54210,51558,180 00 0 081.00,SINGLE FAMILY,"6640 HOLT RD, NASHVILLE",2016-07-08,258000,20160712-0071418,No,"CAHILL, DAVID W. II & MORYN","6640 HOLT RD, NASHVILLE, TN",3.00,GENERAL SERVICES DISTRICT,111000.0,155800.0,268000.0,1978.0,4.0,2.0,0.0
54211,34115,180 00 0 085.00,SINGLE FAMILY,"6608 HOLT RD, NASHVILLE",2015-07-27,339528,20150804-0077423,No,"MISRA, SANJEEV & YABKO, STACEY","6608 HOLT RD, NASHVILLE, TN",3.00,GENERAL SERVICES DISTRICT,111000.0,141700.0,252700.0,1978.0,3.0,2.0,0.0
54212,20731,180 00 0 094.00,SINGLE FAMILY,"6635 HOLT RD, NASHVILLE",2014-09-05,230000,20140905-0081621,No,"RALSTON, MARY DEE, IRREVOCABLE TRUST","6635 HOLT RD, NASHVILLE, TN",3.03,GENERAL SERVICES DISTRICT,111500.0,210400.0,321900.0,1980.0,3.0,2.0,0.0
54213,23447,180 00 0 114.00,SINGLE FAMILY,"6552 REDMOND LN, NASHVILLE",2014-11-24,237900,20141125-0108837,No,"MARTIN, KARA F. & SETH","6552 REDMOND LN, NASHVILLE, TN",1.03,GENERAL SERVICES DISTRICT,59000.0,104100.0,163100.0,1985.0,3.0,3.0,0.0
54214,23448,180 00 0 230.00,SINGLE FAMILY,"105 HOLT HILLS RD, NASHVILLE",2014-11-12,259000,20141203-0110910,No,"AKERS, DOUGLAS P. & MELISSA W.","105 HOLT HILLS RD, NASHVILLE, TN",0.46,GENERAL SERVICES DISTRICT,59000.0,194000.0,253000.0,2001.0,3.0,2.0,1.0

In [42]:
data2['SoldAsVacant']

0        No
1        No
2        No
3        No
4        No
         ..
54210    No
54211    No
54212    No
54213    No
54214    No
Name: SoldAsVacant, Length: 23705, dtype: object

In [43]:
data2['SoldAsVacant'].unique()

array(['No', 'N', 'Yes', 'Y'], dtype=object)

In [44]:
# Replacing 'N' with 'No' and 'Y' with 'Yes'
data2['SoldAsVacant'] = data2['SoldAsVacant'].replace('N', 'No')
data2['SoldAsVacant'] = data2['SoldAsVacant'].replace('Y', 'Yes')

In [45]:
data2['SoldAsVacant'].unique()

array(['No', 'Yes'], dtype=object)

In [46]:

data2.describe()

,UniqueID,SalePrice,Acreage,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
count,23705.000000,2.370500e+04,23705.000000,2.370500e+04,2.370500e+04,2.370500e+04,23705.000000,23705.000000,23705.000000,23705.000000
mean,27584.465260,2.750023e+05,0.455836,6.904970e+04,1.730583e+05,2.447819e+05,1963.723139,3.094115,1.896984,0.286648
std,16549.621489,3.044420e+05,0.793932,1.021612e+05,1.935828e+05,2.723682e+05,26.385627,0.850667,0.955172,0.489565
min,1.000000,1.000000e+02,0.040000,1.000000e+02,1.400000e+03,1.260000e+04,1799.000000,0.000000,0.000000,0.000000
25%,13068.000000,1.250000e+05,0.190000,2.200000e+04,8.390000e+04,1.098000e+05,1948.000000,3.000000,1.000000,0.000000
50%,27214.000000,1.850000e+05,0.270000,2.990000e+04,1.176000e+05,1.548000e+05,1960.000000,3.000000,2.000000,0.000000
75%,42016.000000,3.249000e+05,0.450000,6.030000e+04,1.892000e+05,2.782000e+05,1983.000000,4.000000,2.000000,1.000000
max,56615.000000,1.075000e+07,47.500000,1.869000e+06,5.824300e+06,6.402600e+06,2017.000000,11.000000,10.000000,3.000000